/* Base styles */
body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Open Sans", "Helvetica Neue", Arial,
    sans-serif;
  background: #ffffff;
}

main {
  display: grid;
  grid-template-columns: 260px 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar main main"
    "sidebar left right";
  gap: 12px;
  padding: 12px;
  min-height: 100vh;
  box-sizing: border-box;
  align-items: start;
}

section {
  color: #222;
  padding: 24px 24px 0 24px; /* top right bottom left */
  border-radius: 4px;
  font-weight: 600;
}

/* Sidebar section */
#talent-profile-headshot {
  background: #f5f5f5;
  grid-area: sidebar;
  height: 100vh;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#talent-profile-headshot h3 {
  text-align: center;
  color: #94969a;
}

#talent-profile-headshot-img {
  max-width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
}

/* Main content sections */

#talent-profile-title {
  background: #ffffff;
  grid-area: main;
}

#talent-profile-title h1 {
  color: teal;
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 0px;
}

#talent-profile-experience {
  background: #ffffff;
  grid-area: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#talent-profile-experience h2 {
  margin-top: 0;
  margin-bottom: 8px;
  color: #33657f;
  text-align: left;
}

#talent-profile-experience ul {
  margin-top: 0;
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
  text-align: left;
}

#talent-profile-experience li {
  padding-bottom: 8px;
}

#talent-profile-about {
  background: #ffffff;
  grid-area: right;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#talent-profile-about h2 {
  margin-top: 0;
  margin-bottom: 8px;
  color: #33657f;
  text-align: left;
}

#talent-profile-about ul {
  margin-top: 0;
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
  text-align: left;
}

#talent-profile-about li {
  padding-bottom: 8px;
}
