.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* It is Pride Month! */
/* This is a classic rainbow pride flag with vertical stripes. */
body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;

  background: linear-gradient(
    to right,
    #e40303 0%,
    #e40303 16.66%,
    #ff8c00 16.66%,
    #ff8c00 33.32%,
    #ffed00 33.32%,
    #ffed00 49.98%,
    #008026 49.98%,
    #008026 66.64%,
    #004dff 66.64%,
    #004dff 83.3%,
    #750787 83.3%,
    #750787 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dom-title {
  text-align: center;
  color: white;
  font-family: "Impact", "Arial Black", Arial, sans-serif;
  /* margin-top: 20px; */
  margin-top: 0px;
  font-size: 6rem;
  letter-spacing: 0.1em;
  text-shadow: 4px 4px 0 #000, 8px 8px 10px #750787, 0 0 20px #e40303;
  text-transform: uppercase;
  font-weight: bold;
}

.dom-title-h2 {
  font-size: 4rem;
}
